# please work (this line literally makes it so neoform compiles, why)
public net.minecraft.world.level.GameRules$BooleanValue create(Z)Lnet/minecraft/world/level/GameRules$Type; # create
public net.minecraft.world.level.GameRules$IntegerValue create(I)Lnet/minecraft/world/level/GameRules$Type; # create
public net.minecraft.world.level.GameRules register(Ljava.lang.String;Lnet.minecraft.world.level.GameRules$Category;Lnet.minecraft.world.level.GameRules$Type;)Lnet.minecraft.world.level.GameRules$Key;

public net.minecraft.world.scores.criteria.ObjectiveCriteria CRITERIA_CACHE
public net.minecraft.client.multiplayer.ClientAdvancements progress

public net.minecraft.world.item.CreativeModeTabs REDSTONE_BLOCKS
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V
public net.minecraft.world.inventory.MenuType$MenuSupplier
public net.minecraft.world.entity.Display$TextDisplay setText(Lnet/minecraft/network/chat/Component;)V
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier

public net.minecraft.client.sounds.SoundEngine instanceToChannel
public net.minecraft.client.sounds.SoundEngine channelAccess
public net.minecraft.client.sounds.SoundEngine soundBuffers
public net.minecraft.client.sounds.SoundManager soundEngine

public net.minecraft.world.entity.Entity crystalSoundIntensity # dont ask why i used crystalSoundIntensity to store a value that shows the partialTick that an ink projectile hit a mob i want to save some memory ok
public net.minecraft.world.entity.Entity dimensions
public net.minecraft.world.entity.Entity checkInsideBlocks()V # checkBlockCollision
public net.minecraft.world.entity.LivingEntity jumping
public net.minecraft.world.entity.LivingEntity swimAmount

public net.minecraft.world.entity.projectile.Projectile updateRotation()V # updateRotation
public net.minecraft.world.entity.projectile.Projectile <init>(Lnet.minecraft.world.entity.EntityType;Lnet.minecraft.world.level.Level;)V
public net.minecraft.client.renderer.entity.LivingEntityRenderer addLayer(Lnet.minecraft.client.renderer.entity.layers.RenderLayer;)Z

public net.minecraft.client.renderer.RenderType create(Ljava.lang.String;Lcom.mojang.blaze3d.vertex.VertexFormat;Lcom.mojang.blaze3d.vertex.VertexFormat$Mode;IZZLnet.minecraft.client.renderer.RenderType$CompositeState;)Lnet.minecraft.client.renderer.RenderType$CompositeRenderType;
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard$TransparencyStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard$LightmapStateShard

public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.server.level.ChunkMap entityMap
public net.minecraft.server.level.ChunkMap$TrackedEntity seenBy
public net.minecraft.server.network.ServerCommonPacketListenerImpl connection

public net.minecraft.server.level.ChunkMap getChunks()Ljava.lang.Iterable;
public net.minecraft.server.level.ServerChunkCache chunkMap
public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.world.level.entity.PersistentEntitySectionManager$Callback

public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet.minecraft.world.level.entity.LevelEntityGetter;
public net.minecraft.world.level.Level getEntities()Lnet.minecraft.world.level.entity.LevelEntityGetter;
public net.minecraft.server.level.ServerLevel getEntities()Lnet.minecraft.world.level.entity.LevelEntityGetter;

public net.minecraft.client.renderer.block.model.BlockModel FACE_BAKERY
public net.minecraft.client.renderer.culling.Frustum intersection
public com.mojang.blaze3d.vertex.Tesselator buffer
public net.minecraft.client.gui.Gui layers
